.hillu{
    padding-top: 2vh !important;
}
.mini-title{
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    color: black;
}

.our-services-data{
    padding-top: 5vh;
}
.mini-titless{
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    color: black;
    padding-top: 4vh;
}

.titu{
    width: 50vw;
    height: 50vh;
}

.mb-1{
    font-size: x-large;
}

.mini-titlesss{
    padding-top: 10vh !important;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif !important;
}

.aaa{
    padding-top: 10vh !important;
    position: left !important;
}
.mini-titleayu{
    padding-top: 2vh;
    color:black ;
}