@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* .App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.register{
  max-width: 978px;
  width: 100vw;
    display:flex;
  border: 1px solid #000000;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: #ffffff !important;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png") !important; 
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-111{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 550px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  border: 1px solid #000000;

}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;

  }
}

.e{
  width: 20vw;
}

.sec1{
  padding-left: 20vw !important;
  padding-top: 13vh !important;
}
.C1{
  visibility:hidden  !important;
}
.C2{
  visibility: visible !important;
}

.py23{
  width: 75vw;
  height: 70vh;
  position: center !important;
}

.textcenter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border: 3px solid black;
}
.click:hover{
  transform: scale(1.3);
}
.po{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 60vh;
}

.pop{

    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 99999;
  }

.p-444{
  margin-right: 25vw !important;
  margin-left: -35vw !important;
}
.justify-content-center{
  margin-right: 30vh;
}

.pop{
  filter:blur(10px) grayscale(5%) !important;
}

.col-1{
  margin-top: -10vh  !important;
}

.sec22{
  display: flex;
  justify-content: center;
  padding-right: 18vw;
  padding-top: 5vh;
}

.nuyt{
    padding-left: 2vw;
}
.IImg{
    padding-left: 5vw;
    /* width: 550px;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    border: 1px solid #000000;*/
} 
.ayusss{
    display: flex;
    flex-direction: row;
}
.allll{
    padding-top: 20vh;
    padding-left: 25vw;
}
.wwee{
    color: #000000;
}